name: clashilator-ffi
version: 0
category: acme

dependencies:
  - base
  - clash-prelude
        
custom-setup:
  dependencies:
    - base
    - Cabal
    - directory
    - filepath

library:
  source-dirs: src
  include-dirs: csrc
  build-tools: hsc2hs

  exposed-modules:
    - VerilatorFFI

  extra-libraries: stdc++ VerilatorFFI
  ghc-options:
    -O3
    -fPIC -pgml g++
